* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #F5F5F5;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

#overlay {
  height: 100%;;
  width: 100%;
  z-index: -1;
  background-color: #D3D3D3;
  position: absolute;
}
#pauseMsg {
  text-align: center;
  font-size: 250%;
  padding: 30% 0 40% 0;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  font-weight: 100;
}

/* Instrument Selection Page */
.instrument.page {
  display: none;
}

.instrument.page .title, .guitar.page .title, .drum.page .title, .keyboard.page .title, .triangle.page .title, .vocal.page .title {
  text-align: center;
  font-size: 200%;
  padding: 5% 0 2% 0;
}

.musicInstrument {
  height: 200px;
}

.musicalNote {
  height: 80px;
  color: red;
}

.musicalNote:hover {
  color: grey;
}
.instrumentContainer, .noteContainer {
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 30;
}

.guitar.page, .drum.page, .keyboard.page, .triangle.page, .vocal.page {
  display: none;
}

.Playback {
  color: red;
}

.Playback:hover {
  color: black;
}
